.reasons__container{
    padding: 7rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 3rem;
}

.reasons__text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reasons__section{
    background-color: var(--color-secondary);
    color: var(--color-primary);
    font-weight: 600;
    font-size: 1.1rem;
    padding: .75rem 1.5rem;
    border-radius: var(--border-radius-base);
    margin-bottom: 1rem;
}

.reasons__text .section__title{
    margin-bottom: 1.5rem;
}

.reasons__text .section__description{
    max-width: 600px;
}

.reasons__content{
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.reasons__card{
    width: 100%;
    background-image: url(../../../../public/images/bg-card.png);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    transition: background-image 5s linear;
}

.reasons__card .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    border-radius: 50%;
    width: 3.95rem;
    height: 3.95rem;
    margin-bottom: 2rem;

    img{
        width: 2.35rem;
        height: 2.35rem;
    }
}

.reasons__card h5{
    font-size: 1.3rem;
    color: var(--color-text);
    font-weight: 600;
    margin-bottom: 1rem;
}

.reasons__card p{
    text-align: center;
    line-height: 28px;
}

.reasons__card:hover{
    background-image: url(../../../../public/images/bg-card-hover.png);
}

.reasons__card:hover p,
.reasons__card:hover h5{
    color: var(--color-white);
}