.listar__usuarios__wrapper {
    padding: 6rem 0rem;
    text-align: center;
}

.listar__usuarios__wrapper h2{
    margin-bottom: 3.5rem;
}

.carrossel__usuarios {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto;
}

.usuarios__lista__wrapper {
    overflow: hidden;
    width: calc(270px * 3 + 2rem);
}

.usuarios__lista {
    display: flex;
    gap: 1.5rem;
    transition: transform 0.4s ease;
}

.usuario__card {
    flex: 0 0 270px;
    padding: 1.45rem .85rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../../../../public/images/bg-card.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.usuario__card:hover {
    background-image: url(../../../../public/images/bg-card-hover.png);
}

.usuario__card img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.5rem;
}

.usuario__card span {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.usuario__card .btn_3 {
    width: 12rem;
}

.usuario__card:hover .btn_3 {
    background-color: #FFFFFF;
    color: var(--color-primary);
}

.carrossel__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.10rem;
    text-align: center;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    z-index: 10;
    padding: 0.5rem;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: var(--color-primary);
    width: 35px;
    height: 35px;
}

.carrossel__btn.anterior {
    left: -2rem;
}

.carrossel__btn.proximo {
    right: -2rem;
}

.carrossel__btn:disabled {
    opacity: 0;
}