:root{
    /* Color Variables */
    --color-primary: #014cfd;
    --color-secondary: #edf1f4;
    --color-text: #2d2d2d;
    --back-color: #1a1a1a;
    --color-white: #ffffff;
    --font-size-base: 16px;
    --border-radius-base: 2rem;
    --line-height-base: 1.5;
}

@font-face {
    font-family: "Poppins";
    src: url(../public/Poppins.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Poppins Light";
    src: url(../public/Poppins-Thin.ttf) format("truetype");
    font-weight: 300;
}

body {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

/* Global styles */
* {
    box-sizing: border-box;
}

.Section__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.btn,
.btn_2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    transition: transform .5s ease-in-out, box-shadow .4s ease-in-out;
    font-size: .9rem;
    font-weight: 600;
    border-radius: var(--border-radius-base);
    padding: 1rem 1.75rem;
}

.btn{
    background-color: var(--color-white);
    color: var(--color-primary);
}

.btn_2 {
    background-color: transparent;
    color: var(--color-white);
    border: 2px solid var(--color-white);
}

.btn:hover,
.btn:focus,
.btn_2:hover,
.btn_2:focus {
    box-shadow: 0 3px 12px rgba(255, 255, 255, 0.5);
    transform: scale(1.05);
}