:root {
    /* Color Variables */
    --color-primary: #014cfd;
    --color-secondary: #edf1f4;
    --color-ligth: #97999b;
    --color-text: #2d2d2d;
    --back-color: #1a1a1a;
    --color-white: #ffffff;
    --font-size-base: 16px;
    --border-radius-base: 2rem;
    --line-height-base: 1.5;
}

@font-face {
    font-family: "Poppins";
    src: url(../public/Poppins.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Poppins Light";
    src: url(../public/Poppins-Thin.ttf) format("truetype");
    font-weight: 300;
}

html,
body {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

/* Global styles */
* {
    box-sizing: border-box;
}

.Section__container {
    width: 100vw;
    max-width: 1200px;
    margin: 0 auto;
}

.btn,
.btn_2,
.btn_3 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    transition: transform .5s ease-in-out, box-shadow .4s ease-in-out;
    font-size: .9rem;
    font-weight: 600;
    border-radius: var(--border-radius-base);

    img {
        width: 2rem;
        height: 2rem;
        transform: translateY(5px);
    }
}

.btn {
    padding: .8rem 1.75rem;
    background-color: var(--color-white);
    color: var(--color-primary);
}

.btn_2 {
    background-color: transparent;
    color: var(--color-white);
    border: 2px solid var(--color-white);
    padding: .65rem 1.55rem;
}

.btn_3 {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: .85rem 1.55rem;
    box-shadow: 0 4px 12px var(--color-primary);
}

.btn:hover,
.btn_2:hover {
    box-shadow: 0 3px 12px rgba(255, 255, 255, 0.5);
    transform: scale(1.05);
}

.btn_3:hover {
    transform: scale(1.05);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0rem;
    cursor: pointer;
    padding: 0;

    img {
        width: 3rem;
        height: 3rem;
        margin: 0;
    }

    span {
        font-size: 1.1rem;
        font-weight: 500;
        color: var(--color-white);
        transform: translate(-0.65rem, -0.35rem);
    }
}

.section__title {
    font-weight: normal;
    font-size: 2.35rem;
    color: var(--color-text);

    span {
        color: var(--color-primary);
        font-weight: 700;
    }
}

.section__description {
    color: var(--color-ligth);
    text-align: center;
    font-size: 1.125rem;
    line-height: 28px;
}

/* Responsividade */

@media (width < 442px) {
    .section__title {
        font-size: 2rem;
    }
}

/* Styles of Auth Pages*/
.account {
    width: 100vw;
    height: 100vh;
    background-image: url(../../../../public/images/bg-hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.account__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.account__container .Form__container {
    background-color: var(--back-color);
    height: 100%;
    width: 55%;
    padding: 3rem 5rem;
    z-index: 111;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__content {
    width: 100%;
    max-width: 350px;
}

.form__content h3 {
    color: var(--color-white);
    font-weight: 600;
    font-size: 2.25rem;
    margin-bottom: 2rem;
    margin-top: 0;
}

.form__camp {
    display: flex;
    align-items: start;
    flex-direction: column;
    row-gap: .25rem;
    margin-bottom: 1.25rem;
    width: 100%;
}

.form__camp label {
    color: var(--color-white);
    font-size: .95rem;
    font-weight: normal;
    margin-left: 8px;
    width: 100%;
}

.Input__Camp {
    width: 100%;
    border: 1px solid var(--color-ligth);
    padding: .95rem .75rem;
    border-radius: 18px;
    display: flex;
    align-items: center;
    column-gap: .45rem;
    position: relative;
}

.Input__Camp input {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--color-ligth);
    font-size: .9rem;
    font-weight: bold;
}

.Input__Camp i {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 1.15rem;
        height: 1.15rem;
    }
}

.Input__Camp span {
    color: var(--color-white);
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 30%;
    right: 5%;
}

.form__content .btn_3 {
    width: 100%;
    margin-bottom: 1.75rem;
    box-shadow: none;
}

.form__content .btn_3:hover{
    box-shadow: 0px 2px 8px var(--color-primary);
}

.form__content p {
    text-align: center;
    color: var(--color-ligth);
}

.GotoSignUp {
    color: var(--color-primary);
    font-weight: normal;
    font-size: 1.2rem;
}

.outhers {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .75rem 0;
}

.outhers span {
    background-color: var(--color-ligth);
    width: 42%;
    height: .05rem;
}

.outhers small {
    color: var(--color-white);
    font-size: .875rem;
}

.LogGoogle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0;
    border: 1px solid var(--color-ligth);
    padding: .75rem 0;
    border-radius: 18px;
    color: var(--color-white);
    font-weight: 500;
    font-size: 1rem;
    font-family: 'Poppins';
    column-gap: 1rem;
    transition: transform .5s ease-in-out, box-shadow .4s ease-in-out;

}

.LogGoogle:hover {
    box-shadow: 0px 3px 12px rgba(255, 255, 255, 0.5);
}

.account__container .account__text {
    width: 42%;
    height: 100%;
    padding: 3rem 2rem 3rem 5rem;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
}

.account__text .logo {
    margin-bottom: 3rem;
}

.account__text .account__text__descriptions {
    display: block;
    width: 100%;

}

.account__text__descriptions h2 {
    color: var(--color-white);
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: .25rem;
}

.account__text__descriptions p {
    color: var(--color-white);
    font-size: 1.05rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

.dots {
    display: flex;
    column-gap: .75rem;
}

.dots span {
    background-color: var(--color-white);
    height: .5rem;
    margin-top: 1rem;
}

.dots span:nth-child(1) {
    width: 5rem;
    border-radius: 20px;
}

.dots span:nth-child(2) {
    width: .5rem;
    border-radius: 20px;
}

.dots span:nth-child(3) {
    width: .5rem;
    border-radius: 20px;
}

@media (width < 992px) {
    .account__container .Form__container {
        width: 60%;
        padding: 3rem 1rem;
    }

    .form__content {
        width: 100%;
    }

    .account__container .Form__container .form__content h3 {
        font-size: 1.85rem;
        margin-bottom: 1rem;
    }

    .form__content p {
        height: 28px;
        font-size: 1rem;
    }

    .account__text {
        width: 40%;
        height: 100%;
        padding: 3rem;
    }

    .account__text__descriptions h2 {
        font-size: 1.5rem;
    }

    .account__text__descriptions p {
        font-size: .9rem;
        margin-bottom: 0;
    }
}

@media (width < 768px) {
    .account__container .account__text {
        display: none;
    }

    .account__container .Form__container {
        width: 100%;
    }

    .form__camp label {
        display: none;
    }
}

@media (width < 442px) {

    .account__container .Form__container {
        width: 100%;
        padding: 5rem 2.5rem;
    }

    .form__content p {
        height: 28px;
        font-size: .85rem;
    }

}